NET "high1" LOC=51 | IOSTANDARD = LVTTL | PULLDOWN
NET "high" LOC=41 | IOSTANDARD = LVTTL | PULLDOWN
NET "high3" LOC=35 | IOSTANDARD = LVTTL | PULLDOWN
NET "high4" LOC=33 | IOSTANDARD = LVTTL | PULLDOWN
NET "high5" LOC=30 | IOSTANDARD = LVTTL | PULLDOWN
NET "high6" LOC=27 | IOSTANDARD = LVTTL | PULLDOWN
NET "high7" LOC=24 | IOSTANDARD = LVTTL | PULLDOWN
NET "high8" LOC=22 | IOSTANDARD = LVTTL | PULLDOWN
NET "high9" LOC=17 | IOSTANDARD = LVTTL | PULLDOWN
NET "high10" LOC=15 | IOSTANDARD = LVTTL | PULLDOWN
NET "high11" LOC=12 | IOSTANDARD = LVTTL | PULLDOWN
NET "high12" LOC=10 | IOSTANDARD = LVTTL | PULLDOWN
NET "high13" LOC=8 | IOSTANDARD = LVTTL | PULLDOWN
NET "high14" LOC=6 | IOSTANDARD = LVTTL | PULLDOWN
NET "high15" LOC=2 | IOSTANDARD = LVTTL | PULLDOWN
NET "high16" LOC=144 | IOSTANDARD = LVTTL | PULLDOWN

NET "low 1 " LOC=50 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 2 " LOC=48 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 3 " LOC=34 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 4 " LOC=32 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 5 " LOC=29 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 6 " LOC=26 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 7 " LOC=16 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 8 " LOC=14 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 9 " LOC=11 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 10 " LOC=9 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 11 " LOC=7 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 12 " LOC=5 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 13 " LOC=1 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 14 " LOC=13 | IOSTANDARD = LVTTL | PULLDOWN
NET "low 15 " LOC=139 | IOSTANDARD = LVTTL | PULLDOWN

NET "Button1high " LOC=139 | IOSTANDARD = LVTTL | PULLDOWN
NET "Button2high " LOC=139 | IOSTANDARD = LVTTL | PULLDOWN
NET "Button1IO " LOC=58 | IOSTANDARD = LVTTL | PULLDOWN
NET "Button2IO " LOC=67 | IOSTANDARD = LVTTL | PULLDOWN