//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 06 12:19:20 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "a[0]" LOCATE = SITE "P58" LEVEL 1;
COMP "a[1]" LOCATE = SITE "P67" LEVEL 1;
COMP "a[2]" LOCATE = SITE "P75" LEVEL 1;
COMP "a[3]" LOCATE = SITE "P79" LEVEL 1;
COMP "a[4]" LOCATE = SITE "P81" LEVEL 1;
COMP "a[5]" LOCATE = SITE "P83" LEVEL 1;
COMP "a[6]" LOCATE = SITE "P85" LEVEL 1;
COMP "a[7]" LOCATE = SITE "P88" LEVEL 1;
COMP "a[8]" LOCATE = SITE "P93" LEVEL 1;
COMP "c[0]" LOCATE = SITE "P57" LEVEL 1;
COMP "a[9]" LOCATE = SITE "P95" LEVEL 1;
COMP "c[1]" LOCATE = SITE "P66" LEVEL 1;
COMP "c[2]" LOCATE = SITE "P74" LEVEL 1;
COMP "c[3]" LOCATE = SITE "P78" LEVEL 1;
COMP "c[4]" LOCATE = SITE "P80" LEVEL 1;
COMP "c[5]" LOCATE = SITE "P82" LEVEL 1;
COMP "c[6]" LOCATE = SITE "P84" LEVEL 1;
COMP "c[7]" LOCATE = SITE "P87" LEVEL 1;
COMP "c[8]" LOCATE = SITE "P92" LEVEL 1;
COMP "c[9]" LOCATE = SITE "P94" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "a[10]" LOCATE = SITE "P98" LEVEL 1;
COMP "a[11]" LOCATE = SITE "P100" LEVEL 1;
COMP "a[12]" LOCATE = SITE "P102" LEVEL 1;
COMP "a[13]" LOCATE = SITE "P105" LEVEL 1;
COMP "a[14]" LOCATE = SITE "P112" LEVEL 1;
COMP "a[15]" LOCATE = SITE "P115" LEVEL 1;
COMP "c[10]" LOCATE = SITE "P97" LEVEL 1;
COMP "c[11]" LOCATE = SITE "P99" LEVEL 1;
COMP "c[12]" LOCATE = SITE "P101" LEVEL 1;
COMP "c[13]" LOCATE = SITE "P104" LEVEL 1;
COMP "c[14]" LOCATE = SITE "P111" LEVEL 1;
COMP "c[15]" LOCATE = SITE "P114" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "button_l" LOCATE = SITE "P51" LEVEL 1;
COMP "button_r" LOCATE = SITE "P41" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "generator_bottom/M_new_fsm_q_FSM_FFd2" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd3" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd3_1" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd2_1" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd3_2" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd2_2" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd3_3" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd2_3" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd2_4" BEL
        "generator_bottom/M_new_fsm_q_FSM_FFd3_4" BEL
        "generator_bottom/left_edge/M_last_q" BEL
        "generator_bottom/regs/M_regs_q_31" BEL
        "generator_bottom/regs/M_regs_q_30" BEL
        "generator_bottom/regs/M_regs_q_29" BEL
        "generator_bottom/regs/M_regs_q_28" BEL
        "generator_bottom/regs/M_regs_q_27" BEL
        "generator_bottom/regs/M_regs_q_26" BEL
        "generator_bottom/regs/M_regs_q_25" BEL
        "generator_bottom/regs/M_regs_q_24" BEL
        "generator_bottom/regs/M_regs_q_23" BEL
        "generator_bottom/regs/M_regs_q_22" BEL
        "generator_bottom/regs/M_regs_q_21" BEL
        "generator_bottom/regs/M_regs_q_20" BEL
        "generator_bottom/regs/M_regs_q_19" BEL
        "generator_bottom/regs/M_regs_q_18" BEL
        "generator_bottom/regs/M_regs_q_17" BEL
        "generator_bottom/regs/M_regs_q_16" BEL
        "generator_bottom/regs/M_regs_q_31_1" BEL
        "generator_bottom/regs/M_regs_q_31_2" BEL
        "generator_bottom/right_edge/M_last_q" BEL
        "generator_bottom/button_left/M_ctr_q_19" BEL
        "generator_bottom/button_left/M_ctr_q_18" BEL
        "generator_bottom/button_left/M_ctr_q_17" BEL
        "generator_bottom/button_left/M_ctr_q_16" BEL
        "generator_bottom/button_left/M_ctr_q_15" BEL
        "generator_bottom/button_left/M_ctr_q_14" BEL
        "generator_bottom/button_left/M_ctr_q_13" BEL
        "generator_bottom/button_left/M_ctr_q_12" BEL
        "generator_bottom/button_left/M_ctr_q_11" BEL
        "generator_bottom/button_left/M_ctr_q_10" BEL
        "generator_bottom/button_left/M_ctr_q_9" BEL
        "generator_bottom/button_left/M_ctr_q_8" BEL
        "generator_bottom/button_left/M_ctr_q_7" BEL
        "generator_bottom/button_left/M_ctr_q_6" BEL
        "generator_bottom/button_left/M_ctr_q_5" BEL
        "generator_bottom/button_left/M_ctr_q_4" BEL
        "generator_bottom/button_left/M_ctr_q_3" BEL
        "generator_bottom/button_left/M_ctr_q_2" BEL
        "generator_bottom/button_left/M_ctr_q_1" BEL
        "generator_bottom/button_left/M_ctr_q_0" BEL
        "generator_bottom/button_left/sync/M_pipe_q_1" BEL
        "generator_bottom/button_left/sync/Mshreg_M_pipe_q_1" BEL
        "generator_bottom/button_right/M_ctr_q_19" BEL
        "generator_bottom/button_right/M_ctr_q_18" BEL
        "generator_bottom/button_right/M_ctr_q_17" BEL
        "generator_bottom/button_right/M_ctr_q_16" BEL
        "generator_bottom/button_right/M_ctr_q_15" BEL
        "generator_bottom/button_right/M_ctr_q_14" BEL
        "generator_bottom/button_right/M_ctr_q_13" BEL
        "generator_bottom/button_right/M_ctr_q_12" BEL
        "generator_bottom/button_right/M_ctr_q_11" BEL
        "generator_bottom/button_right/M_ctr_q_10" BEL
        "generator_bottom/button_right/M_ctr_q_9" BEL
        "generator_bottom/button_right/M_ctr_q_8" BEL
        "generator_bottom/button_right/M_ctr_q_7" BEL
        "generator_bottom/button_right/M_ctr_q_6" BEL
        "generator_bottom/button_right/M_ctr_q_5" BEL
        "generator_bottom/button_right/M_ctr_q_4" BEL
        "generator_bottom/button_right/M_ctr_q_3" BEL
        "generator_bottom/button_right/M_ctr_q_2" BEL
        "generator_bottom/button_right/M_ctr_q_1" BEL
        "generator_bottom/button_right/M_ctr_q_0" BEL
        "generator_bottom/button_right/sync/M_pipe_q_1" BEL
        "generator_bottom/button_right/sync/Mshreg_M_pipe_q_1" BEL
        "clk_BUFGP/BUFG" BEL "reset_cond/M_stage_q_3" BEL
        "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL "ld/M_aSignal_q_15" BEL
        "ld/M_aSignal_q_14" BEL "ld/M_aSignal_q_13" BEL "ld/M_aSignal_q_12"
        BEL "ld/M_aSignal_q_11" BEL "ld/M_aSignal_q_10" BEL "ld/M_aSignal_q_9"
        BEL "ld/M_aSignal_q_8" BEL "ld/M_aSignal_q_7" BEL "ld/M_aSignal_q_6"
        BEL "ld/M_aSignal_q_5" BEL "ld/M_aSignal_q_4" BEL "ld/M_aSignal_q_3"
        BEL "ld/M_aSignal_q_2" BEL "ld/M_aSignal_q_1" BEL "ld/M_aSignal_q_0"
        BEL "ld/M_cSignal_q_15" BEL "ld/M_cSignal_q_14" BEL
        "ld/M_cSignal_q_13" BEL "ld/M_cSignal_q_12" BEL "ld/M_cSignal_q_11"
        BEL "ld/M_cSignal_q_10" BEL "ld/M_cSignal_q_9" BEL "ld/M_cSignal_q_8"
        BEL "ld/M_cSignal_q_7" BEL "ld/M_cSignal_q_6" BEL "ld/M_cSignal_q_5"
        BEL "ld/M_cSignal_q_4" BEL "ld/M_cSignal_q_3" BEL "ld/M_cSignal_q_2"
        BEL "ld/M_cSignal_q_1" BEL "ld/M_cSignal_q_0" BEL
        "generator_top/M_leftedcols_q_100" BEL
        "generator_top/M_leftedcols_q_101" BEL
        "generator_top/M_leftedcols_q_102" BEL
        "generator_top/M_leftedcols_q_103" BEL
        "generator_top/M_leftedcols_q_104" BEL
        "generator_top/M_leftedcols_q_110" BEL
        "generator_top/M_leftedcols_q_105" BEL
        "generator_top/M_leftedcols_q_111" BEL
        "generator_top/M_leftedcols_q_106" BEL
        "generator_top/M_leftedcols_q_112" BEL
        "generator_top/M_leftedcols_q_107" BEL
        "generator_top/M_leftedcols_q_113" BEL
        "generator_top/M_leftedcols_q_108" BEL
        "generator_top/M_leftedcols_q_114" BEL
        "generator_top/M_leftedcols_q_109" BEL
        "generator_top/M_leftedcols_q_120" BEL
        "generator_top/M_leftedcols_q_115" BEL
        "generator_top/M_leftedcols_q_121" BEL
        "generator_top/M_leftedcols_q_116" BEL
        "generator_top/M_leftedcols_q_122" BEL
        "generator_top/M_leftedcols_q_117" BEL
        "generator_top/M_leftedcols_q_123" BEL
        "generator_top/M_leftedcols_q_118" BEL
        "generator_top/M_leftedcols_q_124" BEL
        "generator_top/M_leftedcols_q_119" BEL
        "generator_top/M_leftedcols_q_130" BEL
        "generator_top/M_leftedcols_q_125" BEL
        "generator_top/M_leftedcols_q_131" BEL
        "generator_top/M_leftedcols_q_126" BEL
        "generator_top/M_leftedcols_q_132" BEL
        "generator_top/M_leftedcols_q_127" BEL
        "generator_top/M_leftedcols_q_133" BEL
        "generator_top/M_leftedcols_q_128" BEL
        "generator_top/M_leftedcols_q_134" BEL
        "generator_top/M_leftedcols_q_129" BEL
        "generator_top/M_leftedcols_q_140" BEL
        "generator_top/M_leftedcols_q_135" BEL
        "generator_top/M_leftedcols_q_141" BEL
        "generator_top/M_leftedcols_q_136" BEL
        "generator_top/M_leftedcols_q_142" BEL
        "generator_top/M_leftedcols_q_137" BEL
        "generator_top/M_leftedcols_q_143" BEL
        "generator_top/M_leftedcols_q_138" BEL
        "generator_top/M_leftedcols_q_144" BEL
        "generator_top/M_leftedcols_q_139" BEL
        "generator_top/M_leftedcols_q_200" BEL
        "generator_top/M_leftedcols_q_145" BEL
        "generator_top/M_leftedcols_q_150" BEL
        "generator_top/M_leftedcols_q_201" BEL
        "generator_top/M_leftedcols_q_146" BEL
        "generator_top/M_leftedcols_q_151" BEL
        "generator_top/M_leftedcols_q_147" BEL
        "generator_top/M_leftedcols_q_152" BEL
        "generator_top/M_leftedcols_q_202" BEL
        "generator_top/M_leftedcols_q_203" BEL
        "generator_top/M_leftedcols_q_148" BEL
        "generator_top/M_leftedcols_q_153" BEL
        "generator_top/M_leftedcols_q_204" BEL
        "generator_top/M_leftedcols_q_149" BEL
        "generator_top/M_leftedcols_q_154" BEL
        "generator_top/M_leftedcols_q_210" BEL
        "generator_top/M_leftedcols_q_155" BEL
        "generator_top/M_leftedcols_q_160" BEL
        "generator_top/M_leftedcols_q_205" BEL
        "generator_top/M_leftedcols_q_211" BEL
        "generator_top/M_leftedcols_q_156" BEL
        "generator_top/M_leftedcols_q_161" BEL
        "generator_top/M_leftedcols_q_206" BEL
        "generator_top/M_leftedcols_q_157" BEL
        "generator_top/M_leftedcols_q_162" BEL
        "generator_top/M_leftedcols_q_207" BEL
        "generator_top/M_leftedcols_q_212" BEL
        "generator_top/M_leftedcols_q_213" BEL
        "generator_top/M_leftedcols_q_158" BEL
        "generator_top/M_leftedcols_q_163" BEL
        "generator_top/M_leftedcols_q_208" BEL
        "generator_top/M_leftedcols_q_214" BEL
        "generator_top/M_leftedcols_q_159" BEL
        "generator_top/M_leftedcols_q_164" BEL
        "generator_top/M_leftedcols_q_209" BEL
        "generator_top/M_leftedcols_q_220" BEL
        "generator_top/M_leftedcols_q_165" BEL
        "generator_top/M_leftedcols_q_170" BEL
        "generator_top/M_leftedcols_q_215" BEL
        "generator_top/M_leftedcols_q_221" BEL
        "generator_top/M_leftedcols_q_166" BEL
        "generator_top/M_leftedcols_q_171" BEL
        "generator_top/M_leftedcols_q_216" BEL
        "generator_top/M_leftedcols_q_167" BEL
        "generator_top/M_leftedcols_q_172" BEL
        "generator_top/M_leftedcols_q_217" BEL
        "generator_top/M_leftedcols_q_222" BEL
        "generator_top/M_leftedcols_q_223" BEL
        "generator_top/M_leftedcols_q_168" BEL
        "generator_top/M_leftedcols_q_173" BEL
        "generator_top/M_leftedcols_q_218" BEL
        "generator_top/M_leftedcols_q_219" BEL
        "generator_top/M_leftedcols_q_169" BEL
        "generator_top/M_leftedcols_q_174" BEL
        "generator_top/M_leftedcols_q_180" BEL
        "generator_top/M_leftedcols_q_175" BEL
        "generator_top/M_leftedcols_q_181" BEL
        "generator_top/M_leftedcols_q_176" BEL
        "generator_top/M_leftedcols_q_177" BEL
        "generator_top/M_leftedcols_q_182" BEL
        "generator_top/M_leftedcols_q_183" BEL
        "generator_top/M_leftedcols_q_178" BEL
        "generator_top/M_leftedcols_q_184" BEL
        "generator_top/M_leftedcols_q_179" BEL
        "generator_top/M_leftedcols_q_190" BEL
        "generator_top/M_leftedcols_q_185" BEL
        "generator_top/M_leftedcols_q_191" BEL
        "generator_top/M_leftedcols_q_186" BEL
        "generator_top/M_leftedcols_q_187" BEL
        "generator_top/M_leftedcols_q_192" BEL
        "generator_top/M_leftedcols_q_193" BEL
        "generator_top/M_leftedcols_q_188" BEL
        "generator_top/M_leftedcols_q_194" BEL
        "generator_top/M_leftedcols_q_189" BEL
        "generator_top/M_leftedcols_q_195" BEL
        "generator_top/M_leftedcols_q_196" BEL
        "generator_top/M_leftedcols_q_197" BEL
        "generator_top/M_leftedcols_q_198" BEL
        "generator_top/M_leftedcols_q_199" BEL
        "generator_top/M_leftedcols_q_0" BEL "generator_top/M_leftedcols_q_1"
        BEL "generator_top/M_leftedcols_q_2" BEL
        "generator_top/M_leftedcols_q_3" BEL "generator_top/M_leftedcols_q_4"
        BEL "generator_top/M_leftedcols_q_5" BEL
        "generator_top/M_leftedcols_q_6" BEL "generator_top/M_leftedcols_q_7"
        BEL "generator_top/M_leftedcols_q_8" BEL
        "generator_top/M_leftedcols_q_9" BEL "generator_top/rng/M_temp_q_0"
        BEL "generator_top/rng/M_temp_q_1" BEL "generator_top/rng/M_temp_q_2"
        BEL "generator_top/rng/M_temp_q_3" BEL
        "generator_top/rng/slowclk/M_ctr_q_24" BEL
        "generator_top/rng/slowclk/M_ctr_q_23" BEL
        "generator_top/rng/slowclk/M_ctr_q_22" BEL
        "generator_top/rng/slowclk/M_ctr_q_21" BEL
        "generator_top/rng/slowclk/M_ctr_q_20" BEL
        "generator_top/rng/slowclk/M_ctr_q_19" BEL
        "generator_top/rng/slowclk/M_ctr_q_18" BEL
        "generator_top/rng/slowclk/M_ctr_q_17" BEL
        "generator_top/rng/slowclk/M_ctr_q_16" BEL
        "generator_top/rng/slowclk/M_ctr_q_15" BEL
        "generator_top/rng/slowclk/M_ctr_q_14" BEL
        "generator_top/rng/slowclk/M_ctr_q_13" BEL
        "generator_top/rng/slowclk/M_ctr_q_12" BEL
        "generator_top/rng/slowclk/M_ctr_q_11" BEL
        "generator_top/rng/slowclk/M_ctr_q_10" BEL
        "generator_top/rng/slowclk/M_ctr_q_9" BEL
        "generator_top/rng/slowclk/M_ctr_q_8" BEL
        "generator_top/rng/slowclk/M_ctr_q_7" BEL
        "generator_top/rng/slowclk/M_ctr_q_6" BEL
        "generator_top/rng/slowclk/M_ctr_q_5" BEL
        "generator_top/rng/slowclk/M_ctr_q_4" BEL
        "generator_top/rng/slowclk/M_ctr_q_3" BEL
        "generator_top/rng/slowclk/M_ctr_q_2" BEL
        "generator_top/rng/slowclk/M_ctr_q_1" BEL
        "generator_top/rng/slowclk/M_ctr_q_0" BEL
        "generator_top/rng/rng/M_y_q_31" BEL "generator_top/rng/rng/M_y_q_30"
        BEL "generator_top/rng/rng/M_y_q_29" BEL
        "generator_top/rng/rng/M_y_q_28" BEL "generator_top/rng/rng/M_y_q_27"
        BEL "generator_top/rng/rng/M_y_q_26" BEL
        "generator_top/rng/rng/M_y_q_25" BEL "generator_top/rng/rng/M_y_q_24"
        BEL "generator_top/rng/rng/M_y_q_23" BEL
        "generator_top/rng/rng/M_y_q_22" BEL "generator_top/rng/rng/M_y_q_21"
        BEL "generator_top/rng/rng/M_y_q_20" BEL
        "generator_top/rng/rng/M_y_q_19" BEL "generator_top/rng/rng/M_y_q_18"
        BEL "generator_top/rng/rng/M_y_q_17" BEL
        "generator_top/rng/rng/M_y_q_16" BEL "generator_top/rng/rng/M_y_q_15"
        BEL "generator_top/rng/rng/M_y_q_14" BEL
        "generator_top/rng/rng/M_y_q_13" BEL "generator_top/rng/rng/M_y_q_12"
        BEL "generator_top/rng/rng/M_y_q_11" BEL
        "generator_top/rng/rng/M_y_q_10" BEL "generator_top/rng/rng/M_y_q_9"
        BEL "generator_top/rng/rng/M_y_q_8" BEL
        "generator_top/rng/rng/M_y_q_7" BEL "generator_top/rng/rng/M_y_q_6"
        BEL "generator_top/rng/rng/M_y_q_5" BEL
        "generator_top/rng/rng/M_y_q_4" BEL "generator_top/rng/rng/M_y_q_3"
        BEL "generator_top/rng/rng/M_y_q_2" BEL
        "generator_top/rng/rng/M_y_q_1" BEL "generator_top/rng/rng/M_y_q_0"
        BEL "generator_top/rng/rng/M_z_q_31" BEL
        "generator_top/rng/rng/M_z_q_30" BEL "generator_top/rng/rng/M_z_q_29"
        BEL "generator_top/rng/rng/M_z_q_28" BEL
        "generator_top/rng/rng/M_z_q_27" BEL "generator_top/rng/rng/M_z_q_26"
        BEL "generator_top/rng/rng/M_z_q_25" BEL
        "generator_top/rng/rng/M_z_q_24" BEL "generator_top/rng/rng/M_z_q_23"
        BEL "generator_top/rng/rng/M_z_q_22" BEL
        "generator_top/rng/rng/M_z_q_21" BEL "generator_top/rng/rng/M_z_q_20"
        BEL "generator_top/rng/rng/M_z_q_19" BEL
        "generator_top/rng/rng/M_z_q_18" BEL "generator_top/rng/rng/M_z_q_17"
        BEL "generator_top/rng/rng/M_z_q_16" BEL
        "generator_top/rng/rng/M_z_q_15" BEL "generator_top/rng/rng/M_z_q_14"
        BEL "generator_top/rng/rng/M_z_q_13" BEL
        "generator_top/rng/rng/M_z_q_12" BEL "generator_top/rng/rng/M_z_q_11"
        BEL "generator_top/rng/rng/M_z_q_10" BEL
        "generator_top/rng/rng/M_z_q_9" BEL "generator_top/rng/rng/M_z_q_8"
        BEL "generator_top/rng/rng/M_z_q_7" BEL
        "generator_top/rng/rng/M_z_q_6" BEL "generator_top/rng/rng/M_z_q_5"
        BEL "generator_top/rng/rng/M_z_q_4" BEL
        "generator_top/rng/rng/M_z_q_3" BEL "generator_top/rng/rng/M_z_q_2"
        BEL "generator_top/rng/rng/M_z_q_1" BEL
        "generator_top/rng/rng/M_z_q_0" BEL "generator_top/rng/rng/M_w_q_31"
        BEL "generator_top/rng/rng/M_w_q_30" BEL
        "generator_top/rng/rng/M_w_q_29" BEL "generator_top/rng/rng/M_w_q_28"
        BEL "generator_top/rng/rng/M_w_q_27" BEL
        "generator_top/rng/rng/M_w_q_26" BEL "generator_top/rng/rng/M_w_q_25"
        BEL "generator_top/rng/rng/M_w_q_24" BEL
        "generator_top/rng/rng/M_w_q_23" BEL "generator_top/rng/rng/M_w_q_22"
        BEL "generator_top/rng/rng/M_w_q_21" BEL
        "generator_top/rng/rng/M_w_q_20" BEL "generator_top/rng/rng/M_w_q_19"
        BEL "generator_top/rng/rng/M_w_q_18" BEL
        "generator_top/rng/rng/M_w_q_17" BEL "generator_top/rng/rng/M_w_q_16"
        BEL "generator_top/rng/rng/M_w_q_15" BEL
        "generator_top/rng/rng/M_w_q_14" BEL "generator_top/rng/rng/M_w_q_13"
        BEL "generator_top/rng/rng/M_w_q_12" BEL
        "generator_top/rng/rng/M_w_q_11" BEL "generator_top/rng/rng/M_w_q_10"
        BEL "generator_top/rng/rng/M_w_q_9" BEL
        "generator_top/rng/rng/M_w_q_8" BEL "generator_top/rng/rng/M_w_q_7"
        BEL "generator_top/rng/rng/M_w_q_6" BEL
        "generator_top/rng/rng/M_w_q_5" BEL "generator_top/rng/rng/M_w_q_4"
        BEL "generator_top/rng/rng/M_w_q_3" BEL
        "generator_top/rng/rng/M_w_q_2" BEL "generator_top/rng/rng/M_w_q_1"
        BEL "generator_top/rng/rng/M_w_q_0" BEL
        "generator_top/rng/rng/M_x_q_31" BEL "generator_top/rng/rng/M_x_q_30"
        BEL "generator_top/rng/rng/M_x_q_29" BEL
        "generator_top/rng/rng/M_x_q_28" BEL "generator_top/rng/rng/M_x_q_27"
        BEL "generator_top/rng/rng/M_x_q_26" BEL
        "generator_top/rng/rng/M_x_q_25" BEL "generator_top/rng/rng/M_x_q_24"
        BEL "generator_top/rng/rng/M_x_q_23" BEL
        "generator_top/rng/rng/M_x_q_22" BEL "generator_top/rng/rng/M_x_q_21"
        BEL "generator_top/rng/rng/M_x_q_20" BEL
        "generator_top/rng/rng/M_x_q_19" BEL "generator_top/rng/rng/M_x_q_18"
        BEL "generator_top/rng/rng/M_x_q_17" BEL
        "generator_top/rng/rng/M_x_q_16" BEL "generator_top/rng/rng/M_x_q_15"
        BEL "generator_top/rng/rng/M_x_q_14" BEL
        "generator_top/rng/rng/M_x_q_13" BEL "generator_top/rng/rng/M_x_q_12"
        BEL "generator_top/rng/rng/M_x_q_11" BEL
        "generator_top/rng/rng/M_x_q_10" BEL "generator_top/rng/rng/M_x_q_9"
        BEL "generator_top/rng/rng/M_x_q_8" BEL
        "generator_top/rng/rng/M_x_q_7" BEL "generator_top/rng/rng/M_x_q_6"
        BEL "generator_top/rng/rng/M_x_q_5" BEL
        "generator_top/rng/rng/M_x_q_4" BEL "generator_top/rng/rng/M_x_q_3"
        BEL "generator_top/rng/rng/M_x_q_2" BEL
        "generator_top/rng/rng/M_x_q_1" BEL "generator_top/rng/rng/M_x_q_0"
        BEL "generator_top/M_leftedcols_q_10" BEL
        "generator_top/M_leftedcols_q_11" BEL
        "generator_top/M_leftedcols_q_12" BEL
        "generator_top/M_leftedcols_q_13" BEL
        "generator_top/M_leftedcols_q_14" BEL
        "generator_top/M_leftedcols_q_15" BEL
        "generator_top/M_leftedcols_q_20" BEL
        "generator_top/M_leftedcols_q_21" BEL
        "generator_top/M_leftedcols_q_16" BEL
        "generator_top/M_leftedcols_q_22" BEL
        "generator_top/M_leftedcols_q_17" BEL
        "generator_top/M_leftedcols_q_23" BEL
        "generator_top/M_leftedcols_q_18" BEL
        "generator_top/M_leftedcols_q_19" BEL
        "generator_top/M_leftedcols_q_24" BEL
        "generator_top/M_leftedcols_q_25" BEL
        "generator_top/M_leftedcols_q_30" BEL
        "generator_top/M_leftedcols_q_31" BEL
        "generator_top/M_leftedcols_q_26" BEL
        "generator_top/M_leftedcols_q_32" BEL
        "generator_top/M_leftedcols_q_27" BEL
        "generator_top/M_leftedcols_q_33" BEL
        "generator_top/M_leftedcols_q_28" BEL
        "generator_top/M_leftedcols_q_29" BEL
        "generator_top/M_leftedcols_q_34" BEL
        "generator_top/M_leftedcols_q_35" BEL
        "generator_top/M_leftedcols_q_40" BEL
        "generator_top/M_leftedcols_q_41" BEL
        "generator_top/M_leftedcols_q_36" BEL
        "generator_top/M_leftedcols_q_42" BEL
        "generator_top/M_leftedcols_q_37" BEL
        "generator_top/M_leftedcols_q_43" BEL
        "generator_top/M_leftedcols_q_38" BEL
        "generator_top/M_leftedcols_q_44" BEL
        "generator_top/M_leftedcols_q_39" BEL
        "generator_top/M_leftedcols_q_45" BEL
        "generator_top/M_leftedcols_q_50" BEL
        "generator_top/M_leftedcols_q_51" BEL
        "generator_top/M_leftedcols_q_46" BEL
        "generator_top/M_leftedcols_q_52" BEL
        "generator_top/M_leftedcols_q_47" BEL
        "generator_top/M_leftedcols_q_53" BEL
        "generator_top/M_leftedcols_q_48" BEL
        "generator_top/M_leftedcols_q_54" BEL
        "generator_top/M_leftedcols_q_49" BEL
        "generator_top/M_leftedcols_q_55" BEL
        "generator_top/M_leftedcols_q_60" BEL
        "generator_top/M_leftedcols_q_61" BEL
        "generator_top/M_leftedcols_q_56" BEL
        "generator_top/M_leftedcols_q_62" BEL
        "generator_top/M_leftedcols_q_57" BEL
        "generator_top/M_leftedcols_q_63" BEL
        "generator_top/M_leftedcols_q_58" BEL
        "generator_top/M_leftedcols_q_64" BEL
        "generator_top/M_leftedcols_q_59" BEL
        "generator_top/M_leftedcols_q_65" BEL
        "generator_top/M_leftedcols_q_70" BEL
        "generator_top/M_leftedcols_q_71" BEL
        "generator_top/M_leftedcols_q_66" BEL
        "generator_top/M_leftedcols_q_72" BEL
        "generator_top/M_leftedcols_q_67" BEL
        "generator_top/M_leftedcols_q_73" BEL
        "generator_top/M_leftedcols_q_68" BEL
        "generator_top/M_leftedcols_q_74" BEL
        "generator_top/M_leftedcols_q_69" BEL
        "generator_top/M_leftedcols_q_80" BEL
        "generator_top/M_leftedcols_q_75" BEL
        "generator_top/M_leftedcols_q_81" BEL
        "generator_top/M_leftedcols_q_76" BEL
        "generator_top/M_leftedcols_q_82" BEL
        "generator_top/M_leftedcols_q_77" BEL
        "generator_top/M_leftedcols_q_83" BEL
        "generator_top/M_leftedcols_q_78" BEL
        "generator_top/M_leftedcols_q_84" BEL
        "generator_top/M_leftedcols_q_79" BEL
        "generator_top/M_leftedcols_q_90" BEL
        "generator_top/M_leftedcols_q_85" BEL
        "generator_top/M_leftedcols_q_91" BEL
        "generator_top/M_leftedcols_q_86" BEL
        "generator_top/M_leftedcols_q_92" BEL
        "generator_top/M_leftedcols_q_87" BEL
        "generator_top/M_leftedcols_q_93" BEL
        "generator_top/M_leftedcols_q_88" BEL
        "generator_top/M_leftedcols_q_94" BEL
        "generator_top/M_leftedcols_q_89" BEL
        "generator_top/M_leftedcols_q_95" BEL
        "generator_top/M_leftedcols_q_96" BEL
        "generator_top/M_leftedcols_q_97" BEL
        "generator_top/M_leftedcols_q_98" BEL
        "generator_top/M_leftedcols_q_99";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

