NET "a" LOC = P51;
NET "a" IOSTANDARD = LVTTL;
NET "b" LOC = P41;
NET "b" IOSTANDARD = LVTTL;
NET "cin" LOC = P35;
NET "cin" IOSTANDARD = LVTTL;
NET "s" LOC = P33;
NET "s" IOSTANDARD = LVTTL;
NET "s" PULLDOWN;
NET "cout" LOC = P30;
NET "cout" IOSTANDARD = LVTTL;
NET "cout" PULLDOWN;
