NET "a" LOC  =P51 | IOSTANDARD = LVTTL;
NET "b" LOC =P41 | IOSTANDARD = LVTTL ;
NET "cin" LOC =P35 | IOSTANDARD = LVTTL;
NET "s" LOC =P33 | IOSTANDARD = LVTTL |PULLDOWN;
NET "cout" LOC=P30 | IOSTANDARD = LVTTL | PULLDOWN;